body {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    margin: 0;
    padding: 0;
}
#container {
    width: 40%;
    margin: 0 auto;
    text-align: left;
    padding: 1em;
}